---
import type { BlogPost } from '../types/BlogPost';
import { getCollection } from 'astro:content';
import DesktopPostSingle from './DesktopPostSingle.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);
---

<h1 class="hidden md:flex h1 mytext-base pt-28 mb-5">ALL POSTS</h1>
<div class="hidden w-full md:grid grid-cols-3 md:gap-5">
  {
    posts.map((post: BlogPost) => (
      <DesktopPostSingle
        title={post.data.title}
        titleAppend={post.data.titleAppend}
        slug={post.data.slug}
        image={post.data.image}
        category={post.data.category}
        categoryLink={post.data.categoryLink}
        createdAt={post.data.pubDate}
      />
    ))
  }
</div>
