---
import { X } from '@lucide/astro';
import { Plus } from '@lucide/astro';
const { title, titleAppend, author, category, categoryLink, slug, image, createdAt } = Astro.props;
---

<div class="mb-5 h-auto col-span-1 hover:scale-105 transition-all">
  <div class="h-10 w-full bg-dark rounded-t-sm flex items-center justify-center">
    <div class="pl-2 w-1/6">
      <Plus class="mytext-muted" size={18} />
    </div>

    <p class="p-xsmall mytext-muted text-center w-4/6">
      <!-- <a href=`/categories/${categoryLink}`> -->
      root@{new Date(createdAt).toLocaleDateString()}: ~
      <!-- </a> -->
    </p>
    <div class="pr-2 w-1/6 flex justify-end">
      <X class="mytext-muted" size={18} />
    </div>
  </div>
  <div class="flex h-44">
    <a href=`/posts/${slug}` class="w-1/2 overflow-hidden">
      <img src={image.url} alt={image.alt} class="h-full w-full object-cover" />
    </a>
    <a href=`/posts/${slug}`>
      <div class="w-1/2 bg-light p-5 flex flex-col justify-between rounded-b-sm">
        <div>
          <div class="flex">
            <!-- <p class="p-small mytext-muted mr-2">~</p> -->
            <p class="h2 mytext-base">{title}</p>
          </div>
          <!-- {
            titleAppend && (
              <div class="flex">
                <p class="p-small mytext-muted mr-2">~</p>
                <p class="h2 mytext-base">{titleAppend}</p>
              </div>
            )
          } -->
        </div>
        <div class="justify-end flex">
          <a href=`/categories/${categoryLink}`>
            <p class="p-xsmall mytext-muted"># {category}</p>
          </a>
        </div>
      </div>
    </a>
  </div>
</div>
