---
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog'))
  .filter((post) => post.data.hero === true)
  .sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime());

const {
  title,
  titleAppend,
  description,
  category,
  categoryLink,
  slug,
  image,
  pubDate: createdAt,
} = posts[0]?.data;
---

<head>
  <style>
    .image {
      height: 50vh;
      width: 100%;
      object-fit: cover;
      position: relative;
      z-index: 2;
      transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      /* transition: transform 0.5s ease; */
      /* transition: transform 0.5s ease-in-out; */
    }
    .scrolled .img-top {
      transform: translateY(-80px);
    }
    .scrolled .img-bottom {
      transform: translateY(80px);
    }
  </style>
</head>
<div slot="head">
  <title>OFF THE GRID</title>
</div>
<body>
  <div
    class="relative h-screen flex flex-col overflow-hidden items-stretch bg-base rounded-sm mt-28"
    id="wrapper"
  >
    <img src="/images/hero/top.jpg" class="image img-top" alt="Top Image" />
    <img src="/images/hero/bottom.jpg" class="image img-bottom" alt="Bottom Image" />
    <div
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-[1] w-full h-28 flex flex-col"
    >
      <a href={`/posts/${slug}`}>
        <div class="p-5">
          <p class="mytext-base text-center h2">{title}</p>
          <p class="mytext-muted p text-center">
            {description}
          </p>
        </div>
      </a>
      <div class="px-5 flex justify-between mt-auto">
        <p class="mytext-muted p-small w-auto text-left">{createdAt.toLocaleDateString()}</p>
        <a href={`/categories/${categoryLink}`}>
          <p class="mytext-muted p-small w-auto text-right"># {category}</p>
        </a>
      </div>
    </div>
  </div>

  <script src="/src/scripts/scrollanimation.ts"></script>
</body>
