---
import MobilePostSingle from './MobilePostSingle.astro';
import type { BlogPost } from '../types/BlogPost';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
  (a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);
---

<div class="w-full pt-28 md:hidden">
  {
    posts.map((post: BlogPost) => (
      <MobilePostSingle
        title={post.data.title}
        titleAppend={post.data.titleAppend}
        slug={post.data.slug}
        image={post.data.image}
        author={post.data.author}
        category={post.data.category}
        categoryLink={post.data.categoryLink}
        createdAt={post.data.pubDate}
      />
    ))
  }
</div>
